<div ng-controller="user-registration-controller" class="iframe-patch">
    <form style="padding:30px;" name="userForm" novalidate>
        <div>
            <p><small>Please fill out completely (* = required fields)</small></p>
            <div class="forms">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row padValues">
                            <div class="col-sm-6" ng-class="{'has-error':userForm.firstName.$invalid && !userForm.firstName.$pristine || userForm.firstName.$error.required}">
                                <label>First Name<span ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine">&nbsp;Required</span>*</label>
                                <input type="text" class="form-control" name="firstName" ng-model="contactUs.firstName" required>
                                </input>
                            </div>
                            <div class="col-sm-6" ng-class="{'has-error':userForm.lastName.$invalid && !userForm.lastName.$pristine || userForm.lastName.$error.required}">
                                <label>Last Name<span ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine">&nbsp;Required</span>*</label>
                                <input type="text" class="form-control" name="lastName" ng-model="contactUs.lastName" required>
                                </input>
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-6" ng-class="{'has-error':userForm.addressLine1.$invalid && !userForm.addressLine1.$pristine || userForm.addressLine1.$error.required}">
                                <label>Address Line 1<span ng-show="userForm.addressLine1.$invalid && !userForm.addressLine1.$pristine">Required</span>*</label>
                                <input type="text" class="form-control" name="addressLine1" ng-model="contactUs.address1" required/>
                            </div>
                            <div class="col-sm-6">
                                <label>Address Line 2</label>
                                <input type="text" class="form-control" name="addressLine2" ng-model="contactUs.address2" />
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-6" ng-class="{'has-error':userForm.cityName.$invalid && !userForm.cityName.$pristine || userForm.cityName.$error.required}">
                                <label>City<span ng-show="userForm.addressLine1.$invalid && !userForm.addressLine1.$pristine">&nbsp;Required</span>*</label>
                                <input type="text" class="form-control" name="cityName" ng-model="contactUs.city" required/>
                            </div>
                            <div class="col-sm-6" ng-class="{'has-error':userForm.stateName.$invalid && !userForm.stateName.$pristine || userForm.stateName.$error.required}">
                                <label>State<span ng-show="userForm.stateName.$invalid && !userForm.stateName.$pristine">&nbsp;Required</span>*</label>
                                <input type="text" class="form-control" name="stateName" ng-model="contactUs.state" required/>
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-6" ng-class="{'has-error':userForm.zipCode.$invalid && !userForm.zipCode.$pristine || userForm.zipCode.$error.required}">
                                <label>Zip Code<span ng-show="userForm.zipCode.$invalid && !userForm.zipCode.$pristine">&nbsp;Invalid</span>*</label>
                                <input type="text" class="form-control" ng-pattern="/^[0-9]{1,9}$/" name="zipCode" ng-model="contactUs.zipCode1" required/>
                            </div>
                            <div class="col-sm-6" ng-class="{'has-error':userForm.phoneNumber.$invalid && !userForm.phoneNumber.$pristine || userForm.phoneNumber.$error.required}">
                                <label>Phone Number<span ng-show="(userForm.phoneNumber.$invalid && !userForm.phoneNumber.$pristine)">&nbsp;Invalid</span>*</label>
                                <input type="text" class="form-control" input-mask data-input-mask-definition="(999)***-****?*****" name="phoneNumber" ng-model="contactUs.dayPhone1" required/>
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-12 form-group" ng-class="{'has-error':userForm.emailAddress.$invalid && !userForm.emailAddress.$pristine || userForm.emailAddress.$error.required}">
                                <label>Email Address<span ng-if="userForm.emailAddress.$error.required">&nbsp;Required</span><span ng-if="userForm.emailAddress.$error.email">&nbsp;Invalid</span>*</label>
                                <input type="email" class="form-control" name="emailAddress" ng-model="contactUs.emailAddress" required/>
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-12" ng-class="{'has-error':userForm.companyfirmName.$invalid && !userForm.companyfirmName.$pristine || userForm.companyfirmName.$error.required}">
                                <label>Company/Firm Name<span ng-show="userForm.companyfirmName.$invalid && !userForm.companyfirmName.$pristine">&nbsp;Required</span>*</label>
                                <input type="text" class="form-control" name="companyfirmName" ng-model="contactUs.company" required/>
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-12">
                                <label>Enter Message: </label>
                                <textarea class="form-control" placeholder="" name="enterMessage" class="form-control" ng-model="contactUs.message" />
                                </textarea>
                            </div>
                        </div>
                        <div class="row padValues">
                            <div class="col-sm-12 text-right" style="display: inline-block">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-default" ng-model="user.cancelButton" ng-click="cancel()">Reset Form</button>
                                </div>
                                <button class="btn btn-primary" ng-click="send()" ng-model="user.sendButton" ng-disabled="userForm.$invalid">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>