header, footer {
    padding: 30px;
    color: white;
    background-color: black;
    clear: left;
    text-align: left;
    font-family: inherit;
    font-weight: 200;
    line-height: 1.1;
    color: white;
    font-size: 25px;
}

.padValues{
	padding-bottom:10px;
}